
body{
    margin: 0px;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    
}
 .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
    color: white;  
}
.middle-container{
    background-color: rgb(0, 0, 0);
}

hr{
    height: 2px;
    border-style: dotted none none;
    border-color: grey;
    border-width: 6px;
    width: 3%;
    margin-top: 120px;
    margin-bottom: 120px;
}

h1{
    padding-top: 9%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 812.5%;
    font-weight:normal;
    margin-top: 0;
}

h2{
    color: rgb(255, 255, 255);
    font-size: 187.5%;
    font-weight: normal;
}
h3{
    color: rgb(255, 255, 255);
}

p{
    color: rgb(255, 255, 255);
    line-height: 2;
}

.gadgets{
    width: 50%;
    margin: 0 auto 0 auto;
}

.skill-row{
    width: 50%;
    margin: 50px auto 200px auto;
    text-align: start;
    padding-top: 50px;
}

#sub-intro{
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
}


.topdiv{

    background-color: #c84354;
    margin: 0px;
    position: relative;


}
.dp{
    width: 15%;
    border-radius: 50%;
    margin-top: 70px;
}

.bottom-container{
    background-color: #c84354;
}

.code-img{
 width: 25%;
 float: left;
 margin: 0 30px 0 0;   
}

.rights{
color: black;
}

.d-img{
width: 25%;
float: right;
margin: 0 0 0 30px;
}

.btn {
    -webkit-border-radius: 46;
    -moz-border-radius: 46;
    border-radius: 46px;
    color: #ffffff;
    font-size: 20px;
    background:#c84354;
    padding: 8px 20px 8px 20px;
    text-decoration: none;
    margin: 30px auto 50px auto;
    display: inline-block;
  }

  
  .btn:hover {
    background: white;
    text-decoration: none;
    color: black;

}

.intro{
    width: 30%;
    margin: 0 auto 0 auto;
}

.bottom-container{
    text-align: center;
    padding: 50px 0 20px;
}
a{
    font-size: 20px;
    margin: 0 20px 0 20px;
    color: white;
}
a:hover{
    color: black;
}
